numpy
pandas
matplotlib
seaborn
pyarrow

# -------- frameworks ----- #
sentencepiece
transformers
torch==2.0.1
lightning>=2.0.0
torchmetrics>=0.11.4

# --------- hydra --------- #
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
clearml

# --------- others --------- #
rootutils       # standardizing the project root setup
pyrootutils
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
# sh            # for running bash commands in some tests (linux/macos only)
wldhx.yadisk-direct # download data
# ----DEV----
pytest
jupyterlab
